<a href="https://colab.research.google.com/github/dineshkumarsarangapani/Machine_learning_IITM/blob/main/MLP/week8_graded_partB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
car_data_file = 'https://raw.githubusercontent.com/dineshkumarsarangapani/Machine_learning_IITM/main/MLP/cars_data.csv'

In [85]:
import pandas as pd

In [86]:
car_data = pd.read_csv(car_data_file)

In [87]:
print(car_data.shape)
car_data.head()

(428, 15)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

In [88]:
car_data.dropna(how = 'any', inplace=True)
print(car_data.shape)

(426, 15)

In [89]:
car_data.drop(['Invoice'], axis=1,inplace=True)

In [90]:
car_data['MSRP'] = car_data['MSRP'].str.replace('$', '')
car_data['MSRP'] = car_data['MSRP'].str.replace(',', '')

<ipython-input-90-150c18f045d2>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  car_data['MSRP'] = car_data['MSRP'].str.replace('$', '')

In [91]:
car_data['MSRP'] = pd.to_numeric(car_data['MSRP'])
car_data['MSRP'].dtypes

dtype('int64')

In [92]:
car_data = pd.get_dummies(car_data, columns=['Make','Model','Type','Origin', 'DriveTrain'])

In [93]:
y = car_data['MSRP']

In [94]:
X = car_data.drop(['MSRP'], axis=1)

In [95]:
X.head()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make_Acura,Make_Audi,...,Type_Sedan,Type_Sports,Type_Truck,Type_Wagon,Origin_Asia,Origin_Europe,Origin_USA,DriveTrain_All,DriveTrain_Front,DriveTrain_Rear
0,3.5,6.0,265,17,23,4451,106,189,1,0,...,0,0,0,0,1,0,0,1,0,0
1,2.0,4.0,200,24,31,2778,101,172,1,0,...,1,0,0,0,1,0,0,0,1,0
2,2.4,4.0,200,22,29,3230,105,183,1,0,...,1,0,0,0,1,0,0,0,1,0
3,3.2,6.0,270,20,28,3575,108,186,1,0,...,1,0,0,0,1,0,0,0,1,0
4,3.5,6.0,225,18,24,3880,115,197,1,0,...,1,0,0,0,1,0,0,0,1,0

In [96]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 1)

In [97]:
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

In [98]:
all_reg = [BaggingRegressor(random_state=1), RandomForestRegressor(random_state=1), GradientBoostingRegressor(random_state=1), AdaBoostRegressor(random_state=1)]

In [99]:
for reg in all_reg:
  reg.fit(X_train, y_train)
  print(reg.score(X_test, y_test))

0.8188678203528174
0.8002240029438671
0.7957780776176043
0.6234873664491984

In [100]:
from sklearn.model_selection import GridSearchCV

In [101]:
params = {
     'n_estimators' : [100,500,1000],
     'learning_rate' : [0.5,1,2]
}

In [102]:
ada = AdaBoostRegressor(random_state=1)

In [103]:
grd = GridSearchCV(ada, params, cv=4)

In [104]:
grd.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=AdaBoostRegressor(random_state=1),
             param_grid={'learning_rate': [0.5, 1, 2],
                         'n_estimators': [100, 500, 1000]})

In [105]:
grd.score(X_test, y_test)

0.639458556097815

In [106]:
grd.best_params_

{'learning_rate': 0.5, 'n_estimators': 500}