# MLP OPPE 1

To be filled before the exam starts:

**Exam Name**: MLP OPPE 1

**Name of the student:** Dinesh Kumar S

**Roll No. of the student:** 21f1000560@ds.study.iitm.ac.in

**Date:** 12 March 2023

### Q. 1:Which dataset are you using for this exam?

In [219]:
'v5'

'v5'

### Q. 2: How many total number of features (excluding target variable) are there in the dataset?

In [220]:
import pandas as pd
data = pd.read_csv('V5.csv')
print(data.shape)
data.head()

(6257, 12)

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,63963,Male,Urban,Bachelor,NaN,1,0,3629.0,More than 1,A,Silver,175140
1,19537,Male,Urban,Others,58.38,1,3,2006.0,More than 1,B,Silver,154452
2,38004,Female,Rural,Bachelor,5.58,1,8,0.0,More than 1,B,Gold,102588
3,84329,Male,Urban,Bachelor,7.91,1,7,3867.0,More than 1,B,Silver,62532
4,58436,Male,Rural,High School,7.83,1,4,2256.0,More than 1,B,Gold,59940

### Q. 3: What are the unique values of feature `Types of Policy` in the dataset?

In [221]:
data['type_of_policy'].unique()

array(['Silver', 'Gold', 'Platinum'], dtype=object)

### Q. 4:Which of the following columns have categorical data?

In [222]:
data.dtypes

id                  int64
gender             object
area               object
qualification      object
income            float64
marital_status      int64
vintage             int64
claim_amount      float64
num_policies       object
policy             object
type_of_policy     object
cltv                int64
dtype: object

### Q. 5: Plot the `heatmap` and mark the pair which has the highest positive correlation value.

In [223]:
data.corr()

,id,income,marital_status,vintage,claim_amount,cltv
id,1.000000,0.011414,-0.016542,-0.013113,0.013463,-0.001273
income,0.011414,1.000000,0.011156,-0.016207,-0.128527,-0.044643
marital_status,-0.016542,0.011156,1.000000,-0.029278,-0.102655,-0.069811
vintage,-0.013113,-0.016207,-0.029278,1.000000,-0.007389,0.039753
claim_amount,0.013463,-0.128527,-0.102655,-0.007389,1.000000,0.158689
cltv,-0.001273,-0.044643,-0.069811,0.039753,0.158689,1.000000

### Q. 6: Which of the following features have `missing` values?

In [224]:
data.isna().sum()

id                  0
gender              0
area              388
qualification       0
income            376
marital_status      0
vintage             0
claim_amount      386
num_policies        0
policy            393
type_of_policy      0
cltv                0
dtype: int64

### Q. 7: 
Break the dataset into features(`X`) and label (`y`), where the column `cltv` goes to `y` and the rest of the columns go to `X`. Enter the avg value of `cltv` column

In [225]:
# ['id', 'gender', 'area', 'qualification', 'income', 'marital_status','vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy', 'cltv']
# print(data.columns)
X = data[['id', 'gender', 'area', 'qualification', 'income', 'marital_status','vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy']]
y = data['cltv']
print(X.shape)
print(y.shape)
y.mean()

(6257, 11)
(6257,)

99423.4329550903

### Q. 8: Split the dataset into training and test dataset using `train_test_split` into `70:30` ratio while keeping random_state =42. What is the shape of the training set (X_train)

In [226]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=42)
print(X_train.shape)

(4379, 11)

### Q. 9: Drop(remove) `id` column from train and test data because not useful in model training. Now how many feature columns are remaining in training dataset?

In [227]:
X_train.drop(['id'], axis=1, inplace=True)
X_test.drop(['id'], axis=1, inplace=True)
print(X_train.shape)

(4379, 10)

### Q. 10: Compute and write median of `income` column of X_train while ignoring the missing values. Replace all NaN values in income column of X_train and X_test by the median computed in X_train (upto two decimal).

In [228]:
print(X_train['income'].isna().sum())
income_median = X_train['income'].median()
print("median income is ",income_median)
import numpy as np
X_train['income'].fillna(income_median, inplace=True)
X_test['income'].fillna(income_median, inplace=True)
X_train['income'].isna().sum()

272
median income is  6.89

0

### Q. 11: Which is the most frequent value in `policy` column of X_train? Replace all NaN value in `policy` column of X_train and X_test by most frequent value in X_train

In [229]:
print("Number of NaN valus in policy are ", X_train['policy'].isna().sum())
print("unique Values of policy are ", X_train['policy'].unique())
print("Total rows of policy ", X_train['policy'].count())
b_pol = X_train['policy'][X_train['policy'] == 'B']
a_pol = X_train['policy'][X_train['policy'] == 'A']
c_pol = X_train['policy'][X_train['policy'] == 'B']
print("Total rows of policy with value A", len(a_pol))
print("Total rows of policy with value B", len(b_pol))
print("Total rows of policy with value C", len(c_pol))
X_train['policy'].fillna('A', inplace=True)
X_test['policy'].fillna('A', inplace=True)
print("unique Values of policy after imputation are ", X_train['policy'].unique())

Number of NaN valus in policy are  285
unique Values of policy are  ['B' 'A' 'C' nan]
Total rows of policy  4094
Total rows of policy with value A 2584
Total rows of policy with value B 1157
Total rows of policy with value C 1157
unique Values of policy after imputation are  ['B' 'A' 'C']

### Q. 12: Which is the most frequent value in `area` column of X_train? Replace all NaN value in `area` column of X_train and X_test by most frequent value X_train

In [230]:
print("Number of NaN valus in area are ", X_train['area'].isna().sum())
print("unique Values of area are ", X_train['area'].unique())
print("Total rows of area ", X_train['area'].count())
rural = X_train['area'][X_train['area'] == 'Rural']
urban = X_train['area'][X_train['area'] == 'Urban']
print("Total rows of area with value Rural", len(rural))
print("Total rows of area with value Urban", len(urban))
X_train['area'].fillna('Urban', inplace=True)
X_test['area'].fillna('Urban', inplace=True)
print("unique Values of area after imputation are ", X_train['area'].unique())
print("Total rows of area after impute ", X_train['area'].count())

Number of NaN valus in area are  282
unique Values of area are  ['Rural' 'Urban' nan]
Total rows of area  4097
Total rows of area with value Rural 1182
Total rows of area with value Urban 2915
unique Values of area after imputation are  ['Rural' 'Urban']
Total rows of area after impute  4379

### Q. 13: Replace all NaN value in claim_amount column of X_train and X_test by 0 (Zero). After Replacing NAN values from claim_amount column what is the standard deviation of claim_amount column in X_train. (correct upto two decimal places)

In [231]:
X_train['claim_amount'].fillna(0, inplace=True)
X_test['claim_amount'].fillna(0, inplace=True)
X_train['claim_amount'].std()

3330.754550847971

### Q. 14: Apply `MinMaxScaler` on `income` column of X_train. Compute and write median of `income` column? (correct Upto 2 decimal)

In [232]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
income = np.array(X_train['income'])
scaled_income = scale.fit_transform(income.reshape(-1,1))
scaled_income_df =pd.DataFrame(scaled_income)
scaled_income_df[0].median()

0.06887576333967364

### Q. 15: Apply preprocessing on features of X_train and X_test dataset.

For Categorical Features

Apply OneHotEncoding from sklearn library on all categorical features(object columns). Do Encoding in the order of following list
['gender', 'area','qualification','marital_status', 'num_policies', 'policy', 'type_of_policy']

Let's call the transformed categorical feature matrix  X1
‚Äã
  

For Numerical Features
apply MinMaxScaler and transform the dataset. Do scaling in the order of following list
Numerical Features = [ 'income', 'vintage', 'claim_amount' ]
Let's call the transformed categorical feature matrix  X2
‚Äã
  

concatenate(One Hot Encoded Features, Scaled Numerical Features)
After combining transformed categorical feature( X1) matrix and transformed numerical feature matrix (X2) (side by side in that order), the output will be  
X=[X1, X2]

#Hints
Apply ColumnTransformer to encode categorical columns scaling on numerical columns with required preprocessor
Another way is to separately encode all categorical columns and scale numerical columns and do and concatenate (hstack) both side by side. Keep categorical columns in front of numerical while concatenating.

The trasformed (as desribed by above steps) X_train and X_test, should be considered as X_train and X_test henceforth.


How many features will you get after preprocessing?

In [233]:
X_train.isnull().sum()

gender            0
area              0
qualification     0
income            0
marital_status    0
vintage           0
claim_amount      0
num_policies      0
policy            0
type_of_policy    0
dtype: int64

In [234]:
X_train['area'].unique()

array(['Rural', 'Urban'], dtype=object)

In [235]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

# ColumnTransformer?
all_cols = ColumnTransformer([('onehotecoding', OneHotEncoder(), ['gender', 'area','qualification','marital_status', 'num_policies', 'policy', 'type_of_policy']), ('MinMaxScaler', MinMaxScaler(), [ 'income', 'vintage', 'claim_amount' ])], remainder='passthrough', verbose=True,verbose_feature_names_out=True)
# num_cols = ColumnTransformer([('MinMaxScaler', MinMaxScaler(), [ 'income', 'vintage', 'claim_amount' ])], remainder='drop',verbose=True,verbose_feature_names_out=True)
# cat_cols = ColumnTransformer([('onehotecoding', OneHotEncoder(), ['gender', 'area','qualification','marital_status', 'num_policies', 'policy', 'type_of_policy'])], remainder='drop',verbose=True,verbose_feature_names_out=True)

pipe = Pipeline([('cat_cols', all_cols)])
print((X_train.shape))
X_train_trans = pipe.fit_transform(X_train)
X_test_trans = pipe.transform(X_test)
print(X_train_trans.shape)
print(X_test_trans.shape)

# X_train_cat = cat_cols.fit_transform(X_train)
# print(X_train_cat.shape)
# X_train_num = num_cols.fit_transform(X_train)
# print(X_train_num.shape)

(4379, 10)
[ColumnTransformer] . (1 of 2) Processing onehotecoding, total=   0.0s
[ColumnTransformer] .. (2 of 2) Processing MinMaxScaler, total=   0.0s
(4379, 20)
(1878, 20)

### Q. 16: Apply `SequentialFeatureSelector` transformer with direction= 'forward' with `LinearRegression()` estimator and select 5 features by fitting to the X_train and y_train. 

* Use cv = KFold(n_splits=5,random_state=42,shuffle=True) in SequentialFeatureSelector.

 Which of the following options represents the correct integer index of the selected features list?

In [236]:
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

cv = KFold(n_splits=5,random_state=42,shuffle=True)
# SequentialFeatureSelector?
logis = LinearRegression()
sfs = SequentialFeatureSelector(logis, n_features_to_select=5, direction='forward', cv=cv)
sfs.fit(X_train_trans, y_train)
print(sfs.get_support())
#[False False False  True False False False  True False False  True False False  True False False False False False  True]
# [0,      1,     2,     3,     4,     5,     6,    7,       8,   9,     10,    11,   12,   13,      14,  15,     16,    17,    18,   19,     20]
#3,7,10,13,19

sfs.transform(X_train_trans).shape

[False False False  True False False False  True False False  True False
 False  True False False False False False  True]

(4379, 5)

### Q. 17: Apply `LinearRegression` on the trainig set(`X_train` and `y_train`). What is the `R2 score` on the test set(`X_test` and `y_test`).

( Upto 4 digits after decimal points)

In [237]:
li = LinearRegression()
li.fit(X_train_trans, y_train)
y_pred_li = li.predict(X_test_trans)

In [238]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred_li)

0.1478547596801295

### Q. 18: Using the `LinearRegression` model, compute the `cross-validation scores` for `5 splits` on training data (X_train and y_train) using `cross_val_score`.Enter the maximum value of `ùëÖ2 score`

( Upto 4 digits after decimal points)?

In [239]:
from sklearn.model_selection import cross_val_score

# cross_val_score?

In [240]:
print(cross_val_score(LinearRegression(), X_train_trans, y_train, cv=5))

[0.12813998 0.14185139 0.1189497  0.15020976 0.12235988]

### Q. 19: Apply Ridge regression with random_state=42 with default penalty value on training set(X_train and y_train) and calculate the ùëÖ2 score on test_set (X_test and y_test). What is the correct score

In [241]:
from sklearn.linear_model import Ridge
rr = Ridge(random_state=42)
rr.fit(X_train_trans, y_train)
y_pred_rr = rr.predict(X_test_trans)

In [242]:
r2_score(y_test, y_pred_rr)

0.14727947161122568

### Q. 20: Apply Lasso regression with random_state=42 and regularization rate=0.1 on the training data(X_train & y_train). Enter the value of the intercept you got correctly upto 2 digits after decimal points

In [243]:
from sklearn.linear_model import Lasso

ll = Lasso(random_state=42, alpha=0.1 )
ll.fit(X_train_trans, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.284e+12, tolerance: 3.600e+09
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.1, random_state=42)

In [244]:
ll.intercept_

107300.60205407698

### Q. 21:  Fit `SGDRegressor(random_state=42)` estimator on the training data(X_train & y_train) and predict labels for test_data(X_test), lets call it as `y_test_predict`. The parameters are initialized with default values. Calculate and mark the correct `mean_absolute_error` value between `y_test` and `y_test_predict` from the given options. (Correct upto two decimals)

In [245]:
from sklearn.linear_model import SGDRegressor

sgd = SGDRegressor(random_state=42)
sgd.fit(X_train_trans, y_train)
y_test_sgd = sgd.predict(X_test_trans)

In [246]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_test_sgd)

55261.57082315531

### Q. 22: Using `SGDRegressor(random_state=42)` as an estimator for exactly 10 iterations.

Write the correct R2 score on test data - (correct Upto 4 digits)

In [247]:
sgd_loop = SGDRegressor(random_state=42)

for i in range(10):
  # print(i)
  sgd_loop.fit(X_train_trans, y_train)

y_test_sgd_loop = sgd_loop.predict(X_test_trans)
r2_score(y_test, y_test_sgd_loop)

0.14703950095863294



```
# This is formatted as code
```

### Q. 23: (Common Instructions for Question 23 and 24)

Create a pipeline Using PolynomialFeatures as transformer and Lasso as estimator. Use GridSearchCV with this created pipeline and following hyperparameter values on training data(X_train, y_train) to fit the model .

1. Keep polynomial degree as : [1, 2]
2. alpha value to be taken as : np.logspace(-3, 0, num=5)
3. scoring : neg_mean_absolute_error .

(Note: Kindly ignore the warning.)

Mark the best `alpha` value you got using above instructions.

In [248]:
GridSearchCV?

In [249]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import GridSearchCV

pipe2 = Pipeline([('poly', PolynomialFeatures()), ('lasso', Lasso())])

params = {
    "poly__degree": [1,2],
    "lasso__alpha":  np.logspace(-3, 0, num=5)
}

search = GridSearchCV(estimator=pipe2,
             param_grid=params)

In [ ]:
search.fit(X_train_trans, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.041e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.019e+12, tolerance: 2.884e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.004e+12, tolerance: 2.829e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.061e+12, tolerance: 2.849e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+12, tolerance: 2.882e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.753e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.841e+12, tolerance: 2.884e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.589e+12, tolerance: 2.829e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.867e+12, tolerance: 2.849e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.914e+12, tolerance: 2.882e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.041e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.019e+12, tolerance: 2.884e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.004e+12, tolerance: 2.829e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.061e+12, tolerance: 2.849e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+12, tolerance: 2.882e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.623e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.950e+12, tolerance: 2.884e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.583e+12, tolerance: 2.829e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.862e+12, tolerance: 2.849e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.943e+12, tolerance: 2.882e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.041e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.019e+12, tolerance: 2.884e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.004e+12, tolerance: 2.829e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.061e+12, tolerance: 2.849e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+12, tolerance: 2.882e+09
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.852e+12, tolerance: 2.954e+09
  model = cd_fast.enet_coordinate_descent(

In [ ]:
search.best_params_

### Q. 24. Enter the best polynomial degree value you got using above instructions.

In [ ]:
search.best_params_

### Q. 25: To Reduce number of dimensions of training data with PCA. Fit the PCA model using following parameter values on training data.

* n_components=5
* svd_solver='full'
* whiten=True
* random_state=42

What is the sum of `explained_variance_ratio_` ?

In [ ]:
from sklearn.decomposition import PCA

ppca = PCA(n_components=5, svd_solver='full', whiten=True, random_state=42)
ppca.fit(X_train_trans)

In [ ]:
PCA?

In [ ]:
ppca.explained_variance_ratio_.sum()

### Q. 26: Use PCA transformed training data from earlier question and y_train to fit the `RidgeCV` estimator model having alpha value as [0.001,0.01,0.1,1]. Calculate the R2 score you got from the model for transformed test data(PCA transformed X_test).

(upto 4 demimal)

In [ ]:
X_train_trans_pca = ppca.fit_transform(X_train_trans)

In [ ]:
X_test_trans_pca = ppca.transform(X_test_trans)

In [ ]:
X_train_trans_pca.shape

In [ ]:
from sklearn.linear_model import RidgeCV

In [ ]:
rrcv = RidgeCV(alphas=[0.001,0.01,0.1,1])

In [ ]:
rrcv.fit(X_train_trans_pca, y_train)

In [ ]:
y_pred_rrcv= rrcv.predict(X_test_trans_pca)

In [ ]:
r2_score(y_test, y_pred_rrcv)